# Web Scraping
beautifulsoup4
requests
duckduckgo-search

# Selenium for web automation
selenium
webdriver-manager

# OpenAI API
openai

# Environment variables
python-dotenv

# Additional dependencies to resolve conflicts
pydantic
typing-extensions
clyent
nbformat
requests_mock

# Text processing and matching
nltk
gensim
pandas
scikit-learn
numpy<2.0,>=1.18.5

# Data analysis and plotting
matplotlib
seaborn
jupyter
jupyterlab

pandas>=2.2.2
scikit-learn>=1.4.2
tqdm>=4.66.4
matplotlib>=3.9.0
seaborn>=0.13.2         
sentence-transformers>=2.7.0

